alpaca-trade-api
autoscraper
azure-ai-formrecognizer
azure-identity
azure-search-documents
azure-storage-blob
backtrader-plotting
exceptiongroup
factor-analyzer
fastai
httptools
image
imageio
ipykernel
json5
langchain-chroma
langchain-community
langchain-openai
langchainhub
lumibot
mplfinance
numpydoc
pickleshare
pip-chill
pmdarima
pypdf
pyportfolioopt
pysocks
qu
schedule
selenium
ta
textblob
tf-keras
transformers
uvloop
watchfiles
webdriver-manager
websocket
yahoo-earnings-calendar
