alpaca-trade-api
autoscraper
backtrader-plotting
exceptiongroup
factor-analyzer
fastai
httptools
json5
lumibot
mplfinance
numpydoc
pickleshare
pip-chill
pmdarima
pypdf
pyportfolioopt
pysocks
qu
schedule
selenium
secure-smtplib
ta
textblob
uvloop
watchfiles
webdriver-manager
websocket-client
yfinance
yahoo-earnings-calendar
streamlit
langchain
langchain_core
langchain_openai 